{% extends 'base/base.html' %}
{% load permission_tags %}

{% block title %}সদস্য বিবরন{% endblock %}

{% block content %}
{% has_group request.user "collector" as user_has_permission %}
<div class="card mt-4">
    <div class="card-header">
        সদস্য বিবরন
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">সদস্যের নাম</th>
                        <td>{{ member.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">অভিভাবকের নাম</th>
                        <td>{{ member.guardian_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">দলের নাম</th>
                        <td>{{ member.team }}</td>
                    </tr>
                    <tr>
                        <th scope="row">সিরিয়াল নম্বর</th>
                        <td>{{ member.serial_number }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th scope="row">সঞ্চয় স্থিতি</th>
                        <td>{{ member.balance }}</td>
                    </tr>
                    <tr>
                        <th scope="row">কর্জের পরিমান</th>
                        <td>{{ member.get_my_loan.amount }}</td>
                    </tr>
                    <tr>
                        <th scope="row">কর্জের তারিখ</th>
                        <td>{{  member.get_my_loan.date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">কর্জ স্থিতি</th>
                        <td>{{  member.get_my_loan.total_due }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        {% if user_has_permission %}
        <span>
            <a class="btn btn-success" href="{% url 'deposit_posting' %}?team={{member.team_id}}&serial_number={{member.serial_number}}">সঞ্চয় জমা</a>
            <a class="btn btn-primary" href="{% url 'loan_disbursement' member.id %}">কর্জ প্রদান</a>
            <a class="btn btn-warning" href="{% url 'installment_posting' %}?team={{member.team_id}}&serial_number={{member.serial_number}}">কর্জ ফেরত</a>
            <a class="btn btn-secondary" href="{% url 'withdrawal_posting' member.id %}">উত্তোলন</a>
        </span>
        <span>
            <a class="btn btn-success" href="{% url 'member_update' member.pk %}" >Edit</a>
            <a class="btn btn-danger" href="{% url 'member_delete' member.pk %}" >Delete</a>
        </span>
        {% endif %}

    </div>
</div>

<!-- Show member transactions -->
<div class="card">
    <div class="card-header">
        লেনদেন তালিকা
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>তারিখ</th>
                    <th>বিবরণ</th>
                    <th>পরিমান</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in member_transactions %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.accounts }}</td>
                        <td>{% if transaction.debit %}
                                {{ transaction.debit }}
                            {% else %}
                                {{ transaction.credit }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Show member transactions -->
<div class="card">
    <div class="card-header">
        কিস্তি তালিকা
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>তারিখ</th>
                    <th>বিবরণ</th>
                    <th>পরিমান</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in installment_list %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.accounts }}</td>
                        <td>{% if transaction.debit %}
                                {{ transaction.debit }}
                            {% else %}
                                {{ transaction.credit }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
