{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">

        <img src="{{ blog.image.url }}" class="img-fluid w-100" alt="{{ blog.title }}">
    </div>
    <h2 class="text-center mb-3">{{ blog.title }}</h2>
    <p class="text-muted text-center">Published on: {{ blog.public_date }}</p>
    <p class="text-center">Category: {{ blog.category }}</p>

    <div class="mt-4">
        <p>{{ blog.description }}</p>
    </div>
    <a href="{% url 'blog-list' %}" class="btn btn-secondary mt-4">Back to List</a>
</div>
{% endblock %}