{% extends 'base/base.html' %}

{% block extrahead %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">

{% endblock %}


{% block content %}

<div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4>কর্জ তালিকা</h4>
        <h4>কর্জ বিতরণঃ {{ total_loan }}</h4>
    </div>
    <div class="card-body">
        <form method="get">
        <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">

            <!-- Date Range Inputs -->
        <input name="startdate" id="startdate" placeholder="Start Date" value="{{ request.GET.startdate }}">
        <input name="enddate" id="enddate" placeholder="End Date" value="{{ request.GET.enddate }}">
        <button type="submit">Submit</button>
    </form>

<table class="table">
    <thead>
        <tr>
            <th><a href="?order_by=member&direction={{ request.GET.direction|default:'asc' }}">Member</a></th>
            <th>অভিভাবকের নাম</th>
            <th>দল</th>
            <th>
                <a href="?order_by=date&direction=asc"><i class="fa-solid fa-arrow-up"></i></a>
                Date
                <a href="?order_by=date&direction=desc"><i class="fa-solid fa-arrow-down"></i></a>
            </th>
            <th>
                <a href="?order_by=amount&direction=asc"><i class="fa-solid fa-arrow-up"></i></a>
                Amount
                <a href="?order_by=amount&direction=desc"><i class="fa-solid fa-arrow-down"></i></a>
            </th>
            <th>Paid</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
        {% for loan in loans %}
            <tr>
                <td><a href="{% url 'member_detail' loan.member.id %}">{{ loan.member.name }}</a></td>
                <td>{{ loan.member.guardian_name }}</td>
                <td>{{ loan.member.team }}</td>
                <td>{{ loan.date }}</td>
                <td>{{ loan.amount }}</td>
                <td>{{ loan.total_paid }}</td>
                <td>{{ loan.total_due }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No loans found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if loans.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ loans.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ loans.number }} of {{ loans.paginator.num_pages }}.
        </span>

        {% if loans.has_next %}
            <a href="?page={{ loans.next_page_number }}">Next</a>
            <a href="?page={{ loans.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>

    </div>
</div>

{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#startdate" ).datepicker({
        dateFormat: "yy-mm-dd"
    });
    $("#enddate" ).datepicker({
        dateFormat: "yy-mm-dd"
    });
  } );
  </script>
{% endblock %}