{% extends "auth/base.html" %}

{% block content %}
  <div class="container my-5">
    <h2 class="text-center my-5">Login Here</h2>
    <div class="row">
        <div class="col-md-4 border border-1 p-5 mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="{% url "password-reset" %}" class="px-4">Forgot Password?</a>
                </form>
        </div>
    </div>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  </div>
{% endblock %}